.about {
  background-color: #ffffff;

    &--wrapper {
      padding-top: 32px;
      padding-bottom: 52px;
      padding-left: 24px;
      padding-right: 24px;
      text-align: center;
    }
}

.about__title {
  font-size: 18px;
  margin-bottom: 35px;

}

.about__description {
  font-weight: 400;
}
