.about {
  background-color: $white;
}

.about--wrapper {
  padding: 32px 24px 38px 24px;
  text-align: center;

  @media all and (min-width: $tablet) {
    padding: 45px 24px 53px 24px;
  }
}

.about__title {
  font-size: $font-size-m;
  color: $black;
  max-width: 500px;
  margin: 0 auto 35px;

  @media all and (min-width: $tablet) {
    font-size: $font-size-l;
  }
}

.about__description {
  font-weight: $font-weight-normal;
  color: $light-black;

  &--fix-width {
    max-width: 446px;
    margin: 0 auto;
  }
}
