.attraction__title {
  margin-bottom: 11px;

  @media all and (min-width: $tablet) {
    font-size: $font-size-l;
  }
}

.attraction {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &--primary-color {
    background-color: $primary-color;
  }

  &--text-color-light {
    color: $white;
  }

  @media all and (min-width: $tablet) {
    width: 33.3%;
    padding: 0 32px;
  }
}

.attraction__description {
  margin: 0 auto;
  max-width: 282px;
}

.attraction__num {
  font-size: $font-size-s;
  font-weight: $font-weight-normal;
  line-height: 21px;
  margin-bottom: 17px;
  display: block;
  position: relative;
  min-width: 48px;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: $white;
    top: 50%;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: $white;
    top: 50%;
    right: 0;
  }
}

.attractions__wrapper .attraction__num::before,
.attractions__wrapper .attraction__num::after {
  background-color: $light-black;
}
