.attractions {
  background-color: $light-grey;

  @media all and (min-width: $tablet) {
    display: flex;
  }
}

@media all and (min-width: $desktop) {
  .attractions--numb-2 .attraction__description {
    max-width: 225px;
  }
}

.attractions--numb-2 .attractions__item {
  padding: 44px 15px 33px 15px;
}

.attractions--numb-1 .attraction__description {
  max-width: 270px;
}

@media all and (min-width: $tablet) {
  .attractions--numb-1 .attractions__item {
    padding-top: 40px;
  }
}

.attractions__item {
  padding: 44px 15px 43px 15px;
}

.about + .attractions .attractions__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: $white;
    top: -1px;
    left: 0;
    clip-path: polygon(100% 0, 50% 100%, 0 0);

    @media all and (min-width: $tablet) {
      content: none;
    }
  }
}

@media all and (min-width: $tablet) {
  .attractions__item--order {
    order: 2;
  }
}

.attractions__picture-wrapper {
  width: 100%;

  @media all and (min-width: $tablet) {
    width: 66.6%;
  }
}

.attractions__wrapper {
  width: 88.75%;
  max-width: 1064px;
  margin: 0 auto;

  @media all and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 189px 140px 155px;
    justify-content: space-between;
    padding: 42px 50px 42px 33px;
    width: 100%;
  }

  @media all and (min-width: $desktop) {
    grid-template-columns: repeat(3, auto);
    padding-bottom: 59px;
  }
}

.attractions__wrapper .attractions__item {
  border-bottom: 1px solid $grey;
  justify-content: start;
  padding: 26px 21px 24px 21px;

  &:last-child {
    border-bottom: none;
    padding: 26px 15px 30px 15px;
  }

  @media all and (min-width: $tablet) {
    border-bottom: none;
    padding: 0;
    width: 100%;
  }
}

@media all and (min-width: $tablet) {
  .attractions__wrapper .attractions__item:last-child {
    padding: 0;
  }
}


.attractions__wrapper .attraction__title {
  color: $black;
}

.attractions__wrapper .attraction__description {
  color: $light-black;
}

.attractions__wrapper .attraction__num {
  color: $light-black;
  font-size: $font-size-s;
  font-weight: $font-weight-normal;
  line-height: 21px;
  margin-bottom: 15px;

  @media all and (min-width: $tablet) {
    margin-bottom: 22px;
  }
}

.attractions__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media all and (min-width: $tablet) {
    order: 1;
  }
}
