.attractions__item {
  padding: 35px 15px;
}

.attractions__wrapper {
  padding-left: 18px;
  padding-right: 18px;
  background-color: $light-grey;
}

.attractions__wrapper .attractions__item {
  border-bottom: 1px solid $grey;

  &:last-child {
    border-bottom: none;
  }
}

.attractions__img {
  display: block;
  width: 100%;
  object-fit: cover;
}
