.attraction__title {
  margin-bottom: 11px;

  @media all and (min-width: $tablet) {
    font-size: $font-size-l;
    margin-bottom: 14px;
  }
}

.attraction__title br {
  display: none;

  @media all and (min-width: $tablet) {
    display: block;
  }
}

.attraction {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &--primary-color {
    background-color: $primary-color;
  }

  &--text-color-light {
    color: $white;
  }

  @media all and (min-width: $tablet) {
    width: 33.3%;
    padding: 0 32px;
    justify-content: stretch;
  }

  @media all and (min-width: $desktop) {
    justify-content: stretch;
    padding-top: 47px;
  }
}

.attraction__description {
  margin: 0 auto;
  max-width: 282px;

  @media all and (min-width: $desktop) {
    max-width: 100%;
  }
}

.attraction__description br {
  display: none;

  @media all and (min-width: $desktop) {
    display: block;
  }
}

@media all and (min-width: $tablet) {
  .attraction--numb-1 .attraction__num {
    margin-bottom: 24px;
  }

  .attraction--numb-2 .attraction__num {
    margin-bottom: 23px;
  }

  .attraction--numb-2 .attraction__description {
    max-width: 195px;
  }

  .attraction--numb-3 {
    width: 71%;
  }

  .attraction--numb-4 {
    width: 58%;
  }

  .attraction--numb-5 {
    width: 65%;
  }
}

@media all and (min-width: $desktop) {
  .attraction--numb-4 {
    width: 65%;
  }
}

@media all and (min-width: $desktop) {
  .attraction--numb-2 .attraction__description {
    max-width: 214px;
  }
}

.attraction__num {
  font-size: $font-size-s;
  font-weight: $font-weight-normal;
  line-height: 21px;
  margin-bottom: 17px;
  display: block;
  position: relative;
  min-width: 48px;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: $white;
    top: 50%;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: $white;
    top: 50%;
    right: 0;
  }
}

.attractions__wrapper .attraction__num::before,
.attractions__wrapper .attraction__num::after {
  background-color: $light-black;
}

.attraction--numb-1 {
  padding: 47px 15px 40px 15px;

  @media all and (min-width: $tablet) {
    padding: 42px 16px 40px;
  }

  @media all and (min-width: $desktop) {
    padding: 48px 16px 40px;
  }
}

.attraction--numb-2 {
  padding: 38px 15px 36px 15px;

  @media all and (min-width: $tablet) {
    padding: 45px 15px 36px;
  }

  @media all and (min-width: $desktop) {
    padding-top: 49px;
  }
}

.attraction--numb-1 .attraction__description {
  max-width: 270px;
}

@media all and (min-width: $tablet) {
  .attraction--numb-1 .attraction__title {
    max-width: 216px;
  }

  .attraction--numb-2 .attraction__title {
    max-width: 150px;
  }
}


