.button {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-l;
  line-height: $line-height-m;
  border: none;
  background-color: $primary-color;
  color: $white;
}
