.button {
  text-transform: uppercase;
  font-weight: 700;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-l;
  line-height: 26px;
  border: none;

  &--primary-color {
    background-color: $primary-color;
  }

  &--text-light {
    color: $white;
  }
}
