.developed {
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-s;
  line-height: $line-height-s;
}

.developed__description {
  vertical-align: middle;
  color: $black;
}

.developed__img {
  vertical-align: middle;
}
