.developed {
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: 21px;
}

.developed__description {
  vertical-align: middle;
  color: $black;
}

.developed__img {
  vertical-align: middle;
}
