.entry-section {
  background: url("../img/entry-section-background.jpg") no-repeat center /cover;
  background-color: $black;

  &--wrapper {
    text-align: center;
  }
}

.entry-section--wrapper-main-page {
  padding-top: 90px;
  padding-bottom: 85px;
}

.entry-section--wrapper-inner-page {
  padding-top: 52px;
  padding-bottom: 67px;
}
