.entry-section {
  background: url("../img/entry-section-background-mobile.jpg") no-repeat center /cover;
  background-color: $black;

  @media all and (min-width: $tablet) {
    background: url("../img/entry-section-background-tablet.jpg") no-repeat center /cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/entry-section-background-tablet@2x.jpg") no-repeat center /cover;
    }
  }

  @media all and (min-width: $desktop) {
    background: url("../img/entry-section-background-desktop.jpg") no-repeat center /cover;
  }
}

.entry-section--wrapper {
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    left: -1px;
    bottom: -1px;
    height: 26px;
    background-color: $white;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 50%;
    right: -1px;
    bottom: -1px;
    height: 26px;
    background-color: $white;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
  }
}

@media all and (min-width: $tablet) {
  .entry-section--wrapper::before {
    height: 57px;
    clip-path: polygon(8.85% 46%, 8.85% 0, 100% 100%, 0 100%, 0 36%);
  }

  .entry-section--wrapper::after {
    height: 57px;
    clip-path: polygon(91.15% 46%, 91.15% 0, 0 100%, 100% 100%, 100% 36%);
  }
}

@media all and (min-width: $desktop) {
  .entry-section--wrapper::before {
    clip-path: polygon(41.7% 46%, 41.7% 0, 100% 100%, 0 100%, 0 10%);
  }

  .entry-section--wrapper::after {
    clip-path: polygon(58.3% 46%, 58.3% 0, 0 100%, 100% 100%, 100% 10%);
  }
}

.entry-section--wrapper-main-page {
  padding: 90px 0 85px 0;

  @media all and (min-width: $tablet) {
    padding: 77px 0 85px 0;
  }
}

.entry-section--wrapper-inner-page {
  padding: 52px 0 67px 0;

  @media all and (min-width: $tablet) {
    padding: 95px 0 113px;
  }

  @media all and (min-width: $desktop) {
    padding-bottom: 124px;
  }
}

@media all and (min-width: $tablet) {
  .entry-section__img-full {
    width: 461px;
    height: 350px;
  }

  .entry-section__img-short {
    width: 460px;
    height: 78px;
  }
}
