.feature {
  display: grid;
  grid-template-columns: 39px auto;
  grid-column-gap: 10px;
  grid-row-gap: 16px;
  max-width: 282px;

  @media all and (min-width: $tablet) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.feature__icon {
  margin-left: auto;

  @media all and (min-width: $tablet) {
    margin: 0;
    justify-self: center;
  }
}

@media all and (min-width: $tablet) {
  .feature__icon-house {
    width: 75px;
    height: 72px;
  }

  .feature__icon-burger {
    width: 76px;
    height: 68px;
  }

  .feature__icon-gift {
    width: 64px;
    height: 75px;
  }
}

.feature__title {
  align-self: center;
  font-size: $font-size-m;
  color: $black;
}

.feature__description {
  font-size: $font-size-s;
  color: $light-black;
  grid-column: 2;

  @media all and (min-width: $tablet) {
    grid-column: 1;
  }
}
