.feature {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 16px;
}

.feature__title {
  align-self: center;
  font-size: $font-size-m;
  color: $black;
}

.feature__description {
  font-size: $font-size-s;
  color: $light-black;
  grid-column: 2;
}
