.features-section {
  background-color: $white;
  padding: 23px 0 55px 0;

  @media all and (min-width: $tablet) {
    padding: 60px 0;
  }

  @media all and (min-width: $desktop) {
    padding-bottom: 82px;
  }
}

.features-section__wrapper {
  margin: 0 auto;
  width: 88.75%;
  max-width: 1064px;

  @media all and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 185px 156px 193px;
    justify-content: space-between;
    padding: 0 31px 0 36px;
  }

  @media all and (min-width: $desktop) {
    grid-template-columns: 260px 290px 216px;
    justify-content: start;
    grid-column-gap: 133px;
    padding: 0;
  }
}

.features-section__item {
  margin: 0 auto 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @media all and (min-width: $tablet) {
    margin: 0;
  }
}
