.form,
.form__type-text-group,
.form__type-radio-group,
.form__type-checkbox-group {
  display: flex;
  flex-direction: column;
}

.form {
  padding-bottom: 48px;
  background-color: $white;
}

.form__title {
  margin: 0 auto;
  font-size: $font-size-m;
  display: block;
  margin-bottom: 20px;
}

.form__type-text-group,
.form__type-radio-group,
.form__type-checkbox-group,
.form__type-area {
  border-top: 1px solid $very-light-grey;
  padding: 24px 20px 39px 20px;
}

.form__type-text-group .form__label {
  font-weight: 400;
  font-size: $font-size-s;
  line-height: 21px;
  text-transform: uppercase;
  color: $light-black;
}

.form__type-radio-group .form__label {
  font-weight: 700;
  font-size: $font-size-m;
  line-height: 26px;
  color: $black;
}

.form__type-checkbox-group .form__label {
  font-weight: 700;
  font-size: $font-size-m;
  line-height: 26px;
  color: $black;
}

.form__label {
  margin-left: 16px;

  &--font-normal {
    font-weight: 400;
  }

  &--font-bold {
    font-weight: 700;
  }
}

.form__type-text-group .form__input {
  padding-left: 16px;
  width: 100%;
}

.form__input {
  background: $pale-grey;
  border: none;
  box-sizing: border-box;

  &--text {
    height: 58px;
  }
}

.form__input::placeholder {
  font-weight: 700;
  font-size: $font-size-m;
  line-height: 26px;
  color: $transparent-black;
  font-family: $font-family;
}

.form__input--black-placeholder::placeholder {
  color: $black;
}

.form__item-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.form__icon-wrapper {
  width: 58px;
  height: 58px;
  background-color: $secondary-light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__type-area {
  text-align: center;
  padding-bottom: 0;
}

.form__textarea {
  background: $pale-grey;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 56px;

  &::placeholder {
    font-family: $font-family;
    font-weight: 700;
    font-size: $font-size-m;
    line-height: 26px;
    color: $transparent-black;
  }
}

.form__button-submit {
  width: 100%;
}

.form__hint {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: $secondary-transpatent-black;
  text-align: right;
  text-transform: uppercase;
}
