.form {
  padding-top: 24px;
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid $very-light-grey;

  @media all and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 84.375%;
    max-width: 960px;
    border-top: none;
    margin: 0 auto;
  }
}

.form__item-wrapper {
  display: flex;
  align-items: center;
  // margin-bottom: 16px;
}

.form__title {
  text-align: center;
  font-size: $font-size-m;
  display: block;
  margin-bottom: 20px;
  color: $black;

  @media all and (min-width: $tablet) {
    grid-column: 1 / -1;
    margin-bottom: 28px;
  }
}

.form__label {
  margin-left: 16px;
}

.form__input {
  background: $pale-grey;
  border: none;
  box-sizing: border-box;
  color: $black;
  font-weight: $font-weight-bold;
  font-size: $font-size-m;
  line-height: 26px;

  &::placeholder {
    color: $transparent-black;
    font-family: $font-family;
  }
}

.form__icon-wrapper {
  width: 58px;
  height: 58px;
  background-color: $secondary-light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__type-radio-group,
.form__type-checkbox-group,
.form__type-area {

  @media all and (min-width: $tablet) {
    grid-column: 1 / -1;
  }
}

.form__type-radio-group,
.form__type-checkbox-group,
.form__type-area {
  border-top: 1px solid $very-light-grey;
}

.form__type-text-group {


  @media all and (min-width: $tablet) {
    border-top: none;
  }
}

.form__type-text-group:first-child {
  padding-bottom: 39px;

  @media all and (min-width: $tablet) {
    padding-bottom: 15px;
  }
}

.form__type-text-group:first-child .form__title {
  text-align: right;
  margin-right: 39px;

  @media all and (min-width: $desktop) {
    margin-right: 103px;
  }
}

.form__type-text-group:nth-child(2) {
  border-top: 1px solid $very-light-grey;
  padding: 24px 0 34px 0;

  @media all and (min-width: $tablet) {
    border-top: 0;
    padding: 0;
  }
}

.form__type-text-group-container {
  width: 87.5%;
  margin: 0 auto;

  @media all and (min-width: $tablet) {
    width: 100%;
    margin: 0;
  }
}

.form__type-text-group-container .form__item-wrapper {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__type-text-group .form__input {
  padding-left: 16px;
  height: 58px;
}

.form__type-text-group:first-child {

  @media all and (min-width: $tablet) {
    padding-right: 43px;
    border-right: 1px solid #DBDBDB;
  }

  @media all and (min-width: $desktop) {
    padding-right: 63px;
  }
}

.form__type-text-group:nth-child(2) {

  @media all and (min-width: $tablet) {
    padding-left: 26px;
  }

  @media all and (min-width: $desktop) {
    padding-left: 64px;
  }
}

.form__type-text-group:nth-child(2) .form__title {

  @media all and (min-width: $tablet) {
    text-align: left;
  }

  @media all and (min-width: $desktop) {
    margin-left: 30px;
  }
}

.form__type-text-group:nth-child(2) .form__item-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: calc(100% - 58px) 58px;

    @media all and (min-width: $tablet) {
      margin-left: 18px;
    }

    @media all and (min-width: $desktop) {
      margin-left: 0;
    }
}

.form__type-text-group:nth-child(2) .form__input {
  grid-column: 1;
}

.form__type-radio-group + .form__title {

  @media all and (min-width: $tablet) {
    margin: 0 auto;
    width: 308px;
  }
}

.form__type-text-group .form__label {
  font-weight: $font-weight-normal;
  font-size: $font-size-s;
  line-height: 21px;
  text-transform: uppercase;
  color: $light-black;
}

.form__type-radio-group {
  padding: 24px 0;
}

.form__type-radio-group-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  width: 87.5%;
  margin: 0 auto;

  @media all and (min-width: $tablet) {
    margin: 0 auto;
    width: 578px;
    grid-template-columns: 1fr 1fr;
  }

  @media all and (min-width: $desktop) {
    width: 854px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form__type-radio-group .form__label {
  font-weight: $font-weight-bold;
  font-size: $font-size-m;
  line-height: 26px;
  color: $black;
}

.form__type-checkbox-group {
  padding: 24px 0;
}

.form__type-checkbox-group-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  width: 87.5%;
  margin: 0 auto;

  @media all and (min-width: $tablet) {
    width: 480px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }

  @media all and (min-width: $desktop) {
    width: 871px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__type-checkbox-group .form__label {
  font-weight: $font-weight-bold;
  font-size: $font-size-m;
  line-height: 26px;
  color: $black;
}

.form__type-text-group-container .form__input {
  width: 100%;
}

.form__type-area {
  padding: 24px 0;
}

.form__type-area-container {
  text-align: center;
  padding-bottom: 0;
  width: 87.5%;
  margin: 0 auto;

  @media all and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media all and (min-width: $desktop) {
    width: 768px;
    margin: 0 auto;
  }
}

.form__textarea {
  background: $pale-grey;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 56px;
  color: $black;
  font-weight: $font-weight-bold;
  font-size: $font-size-m;
  line-height: 26px;

  &::placeholder {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-m;
    line-height: 26px;
    color: $transparent-black;
  }

  @media all and (min-width: $tablet) {
    grid-column: 1 / -1;
  }
}

.form__button-submit {
  width: 100%;
}

.form__hint {
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-xs;
  line-height: 21px;
  color: $secondary-transpatent-black;
  text-align: right;
  text-transform: uppercase;
}
