.like-block {
  display: flex;
}

.like-block__icon-svg {
  margin-right: 14px;
}

.like-block__icon-svg path {
  @media all and (min-width: $desktop) {
    fill: $white;
    opacity: 1;
  }
}

.like-block__count {
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-s;
  line-height: 21px;
  color: $black;

  @media all and (min-width: $desktop) {
    color: $white;
  }
}
