.like-block {
  display: flex;
}

.like-block__icon-svg {
  margin-right: 14px;
  color: $active-color;

  @media all and (min-width: $tablet) {
    margin: 5px 9px 0 0;
  }

  @media all and (min-width: $desktop) {
    color: $white;
  }
}

.like-block__count {
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-s;
  line-height: 21px;
  color: $black;
  margin-top: 5px;

  @media all and (min-width: $tablet) {
    margin-top: 8px;
  }

  @media all and (min-width: $desktop) {
    color: $white;
  }
}
