.main-nav {
  width: 100%;
}

.main-nav--wrapper {
  position: absolute;
  top: 0;

  @media all and (min-width: $tablet) {
    position: static;
  }
}

.main-nav__list {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

    @media all and (min-width: $tablet) {
      content: none;
    }
  }

  @media all and (min-width: $tablet) {
    position: static;
  }
}

.main-nav__toggle {
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 20px;
  background-color: transparent;
  border: 0;
  height: 22px;
  width: 22.9px;
  cursor: pointer;

  @media all and (min-width: $tablet) {
    display: none;
  }
}

.main-nav--closed + .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $white;
  box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff;
}

.main-nav--opened + .main-nav__toggle {
  width: 28px;
  height: 28px;
}

.main-nav--opened + .main-nav__toggle::before,
.main-nav--opened + .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  background-color: $white;
  width: 100%;
  height: 4px;
}

.main-nav--opened + .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened + .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--nojs + .main-nav__toggle {
  display: none;
}

.main-nav--nojs.main-nav--wrapper {
  position: static;
}
