.main-nav {
  width: 100%;
}

.main-nav--wrapper {
  // position: absolute;
  top: 0;

  @media all and (min-width: $tablet) {
    position: static;
  }
}

.main-nav__toggle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 17px;

  @media all and (min-width: $tablet) {
    display: none;
  }
}
