.sentence {
  background-color: $white;
  text-align: center;

  &--wrapper {
    padding: 38px 18px 49px 18px;

    @media all and (min-width: $tablet) {
      padding: 61px 0 58px 0;
    }
  }
}

.sentence br {
  display: none;

  @media all and (min-width: $tablet) {
    display: block;
  }
}

.sentence__title {
  font-size: $font-size-l;
  display: block;
  margin-bottom: 22px;
  color: $black;

  @media all and (min-width: $tablet) {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.sentence__description {
  margin: 0 auto 32px;
  color: $light-black;
  max-width: 435px;

  @media all and (min-width: $tablet) {
    margin-bottom: 40px;
  }
}

.sentence__button {
  width: 100%;
  max-width: 458px;
  margin: 0 auto;
}
