.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  box-shadow: 0 1px 0 $black-shadow, inset 0 1px 0 $grey-shadow;

  &:first-child {
    box-shadow: 0 1px 0 $black-shadow;
  }

  &:last-child {
    box-shadow: inset 0 1px 0 $grey-shadow;
  }
}

.site-list__link {
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
}
