.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $primary-color;

  @media all and (min-width: $tablet) {
    display: flex;
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 $black-shadow, inset 0 1px 0 $grey-shadow;
  display: flex;

  @media all and (min-width: $tablet) {
    box-shadow: none;
    width: 19.92%;
    max-width: 240px;
  }

  &:first-child {
    box-shadow: 0 1px 0 $black-shadow;

    @media all and (min-width: $tablet) {
      box-shadow: none;
    }
  }

  &:last-child {
    box-shadow: inset 0 1px 0 $grey-shadow;

    @media all and (min-width: $tablet) {
      box-shadow: none;
    }
  }
}

.site-list__item:hover {
  background-color: $primary-hover-color;

  @media all and (min-width: $tablet) {
    background-color: transparent;
  }
}

@media all and (min-width: $tablet) {
  .site-list__item:hover .site-list__link {
    color: $light-blue;
  }
}

.site-list__item:active {
  background-color: $primary-down-color;

  @media all and (min-width: $tablet) {
    background-color: transparent;
  }
}

.site-list__item:active .site-list__link {
  color: $white-opacity;
  background-color: $active-color;

  @media all and (min-width: $tablet) {
    background-color: transparent;
  }
}

@media all and (min-width: $tablet) {
  .site-list__item:active .site-list__link {
    color: $active-color;
  }
}

@media all and (min-width: $tablet) {
  .site-list__item--current .site-list__link {
    color: $brown;
  }
}

@media all and (min-width: $tablet) {
  .site-list__item:nth-child(2) {
    margin-right: 19.92%;
  }
}

.site-list__link {
  color: $white;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 18px 0 14px 0;
  font-size: $font-size-m;

  @media all and (min-width: $tablet) {
    color: $black;
    padding: 0;
    font-size: $font-size-s;
  }
}
