.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 48px;
  height: 48px;
  margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }

    &--primary-color {
      background-color: $primary-color;
    }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
