// Начните писать стили здесь
@import "variables.scss";
@import "basic-settings.scss";
@import "fonts.scss";
@import "visually-hidden.scss";
@import "page.scss";
@import "title.scss";
@import "description.scss";
@import "header.scss";
@import "site-list.scss";
@import "entry-section.scss";
@import "entry-img.scss";
@import "about-section.scss";
@import "atractions.scss";
@import "atraction.scss";
@import "feature.scss";
@import "main-nav.scss";
@import "features-section.scss";
@import "sentence.scss";
@import "button.scss";
@import "map.scss";
@import "socials.scss";
@import "main-footer.scss";
@import "developed.scss";
@import "gallery-list.scss";
@import "gallery-section.scss";
@import "like-block.scss";
@import "video-presentation-section.scss";
@import "form.scss";
@import "popup.scss";
