// Начните писать стили здесь
@import 'variables.scss';
@import 'fonts.scss';
@import 'title.scss';
@import 'description.scss';
@import 'header.scss';
@import 'navigation.scss';
@import 'entry-section.scss';
@import 'about-section.scss';
@import 'atractions.scss';
@import 'atraction.scss';
@import 'feature.scss';
@import 'features-section.scss';
@import 'socials.scss';

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

