.video-presentation-section {
  background-color: $white;
}

.video-presentation-section--wrapper {
  text-align: center;
  padding: 17px 20px 0;

  @media all and (min-width: $tablet) {
    padding: 57px 60px 40px;
    padding-top: 50px;
  }

  @media all and (min-width: $desktop) {
    padding-bottom: 92px;
  }
}

.video-presentation-section__title {
  margin-bottom: 35px;
  font-size: $font-size-m;
  display: block;

  @media all and (min-width: $tablet) {
    font-size: 30px;
  }
}

.video-presentation-section__description {
  margin: 0 auto 38px;
  width: 96.63%;
  max-width: 445px;

  @media all and (min-width: $tablet) {
    margin-bottom: 86px;
  }
}

.video-presentation-section__video-preview {
  display: block;
  width: 100%;
  max-width: 800px;
  object-fit: cover;
  margin: 0 auto;

  @media all and (min-width: $tablet) {
    height: 500px;
  }
}
